<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head" ></head>


<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" id="brand" th:href="@{/}">VISP Dataprovider </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

                <ul class="nav nav-pills flex-column" id="nav">

                    <li class="nav-item " th:each="entry : ${@navigation.navEntries}" th:classappend="${#httpServletRequest.getRequestURI().startsWith(entry.viewName) ? ' active ':''}">
                        <a class="nav-link" th:href="${entry.url}" th:text="${entry.userFriendlyName}"
                           th:classappend="${#httpServletRequest.getRequestURI().startsWith(entry.viewName) ? ' active ':''}"></a>
                    </li>
                </ul>
            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <th:block layout:fragment="content" />
        </main>
    </div>
</div>

<th:block layout:fragment="script"></th:block>

</body>


</html>