<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>VISP Dataprovider</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>

    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <link href="/static/osl.css" th:href="@{/css/visp.css}" rel="stylesheet" media="screen"/>
    <link href="/static/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
</head>

<body>
</body>
</html>