<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div th:if="${message != null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>

    <div class="card card-default">
        <div class="card-header">Configuration</div>
        <div class="card-body">

            <form method="post" th:action="@{/configurationSaved}" th:object="${endpointConfiguration}" class="form-horizontal">

                <div class="form-group row">
                    <label for="host" class="col-sm-5 form-control-label">Host</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="host" name="host" th:field="*{host}" th:value="${endpointConfiguration.host}"  />
                    </div>
                </div>


                <div class="form-group row">
                    <label for="name" class="col-sm-5 form-control-label">Username</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" th:value="${endpointConfiguration.name}"  />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-5 form-control-label">Password</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="password" name="password" th:field="*{password}" th:value="${endpointConfiguration.password}" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="slackchannel" class="col-sm-5 form-control-label">Slack-Channel</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="slackchannel" name="slackchannel" th:field="*{slackchannel}" th:value="${endpointConfiguration.slackchannel}" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="slacktoken" class="col-sm-5 form-control-label">Slack-Token</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="slacktoken" name="slacktoken" th:field="*{slacktoken}" th:value="${endpointConfiguration.slacktoken}" />
                    </div>
                </div>



                    <div class="form-buttons text-center">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Update Configuration</button>
                        </div>
                    </div>

            </form>
        </div>
    </div>
</th:block>

</body>
</html>
