<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <script>
        $(document).ready(function () {

            var taskInfos;

            $.get("/taskinfos", function(data){
                taskInfos = data;

                $.each(data.generators, function(i, item){
                    $('#type').append($('<option value="'+item+'">' + item.split('_').join(' ') + '</option>'));
                });

                $.each(data.patterns, function(item, properties){
                    $('#pattern').append($('<option value="'+item+'">' + item.split('_').join(' ') + '</option>'));
                });

                $('#pattern').change();
            });

            $('#pattern').on('change', function () {
                setupProperties(this.value);
            });

            $('#taskForm').on('submit', function (event) {
                event.preventDefault();
                var formData = $(this).serializeArray();

                var data = {};
                data.patternProperties = {};

                $.each(formData, function (i, item) {
                    if(item.name == 'type') data.type = item.value;
                    else if(item.name == 'pattern') data.pattern = item.value;
                    else if(item.name.toLowerCase().indexOf('custom') !== -1) data.customPattern = item.value;
                    else data.patternProperties[item.name] = item.value;
                });

                $.ajax({
                    type: 'POST',
                    url: '/createTask',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(data)
                }).done(function (data) {
                    window.location.href = '/';
                });
            });

            function getPropertyElement(name) {

                if(name.toLowerCase().indexOf('custom') !== -1) return getTextarea(name);

                return $('<div class="form-group row">' +
                    '       <label for="frequency" class="col-sm-5 control-label propertyTitle">'+name+'</label>' +
                    '       <div class="col-sm-7">' +
                    '          <input type="number" class="form-control" name="'+name+'" value="1000" placeholder="1000" />' +
                    '       </div>' +
                    '     </div>')
            }

            function getTextarea(name) {
                return $('<div class="form-group row">' +
                    '       <label for="frequency" class="col-sm-5 control-label propertyTitle">'+name+'</label>' +
                    '       <div class="col-sm-7">' +
                    '          <textarea class="form-control" name="custom" rows="5"></textarea>' +
                    '       </div>' +
                    '     </div>')
            }

            function setupProperties(patternType) {
                var properties = taskInfos.patterns[patternType];

                $('#patternProperties').empty();

                $.each(properties, function (i, item) {
                    $('#patternProperties').append(getPropertyElement(item));
                });
            }
        });
    </script>

    <div th:if="${message != null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>

    <div class="card card-default">
        <div class="card-header">Create new Task</div>
        <div class="card-body">
            <form method="post" id="taskForm" th:action="@{/createTask}" th:object="${createTaskForm}" class="form-horizontal">

                <div class="form-group row">
                    <label for="type" class="col-sm-5 form-control-label">Job Type</label>
                    <div class="col-sm-7">
                        <select id="type" name="type" class="custom-select"  >
                            <!--/* gets populated via javascript */-->
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="pattern" class="col-sm-5 form-control-label">Pattern</label>
                    <div class="col-sm-7">
                        <select id="pattern" name="pattern" class="custom-select"  >
                            <!--/* gets populated via javascript */-->
                        </select>
                    </div>
                </div>

                <div id="patternProperties">
                    <!--/* gets populated via javascript */-->
                </div>

                <div class="form-buttons">
                    <div class="btn-group text-center">
                        <button type="submit" class="btn btn-success">Create Task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

</body>
</html>
