<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div th:if="${message != null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>


    <th:block th:unless="${#arrays.length(tasks) == 0}">

        <div class="card card-default">
            <div class="card-header">Current Streaming Tasks</div>
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="w-20">Type</th>
                            <th class="w-40">Progress</th>
                            <th class="w-10">
                                <div class="text-center">
                                    Actions
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${tasks}">
                            <td th:text="${task.jobName}"></td>
                            <td>
                                <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:attr="aria-valuenow=${task.progress}" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" th:style="'width: ' + ${task.progress} + '%;'" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                                </div>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-danger" th:href="${'/killtask/' + task.jobGroup + '/' + task.jobName  }">Kill</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>

    <div class="card card-default"  th:if="${#arrays.length(tasks) == 0}">
        <div class="card-body text-center">
            There are currently no streaming tasks.
        </div>
    </div>


</th:block>

</body>
</html>
